<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<a href="/people">ALL</a>
	<a href="/">New</a>

	<%= yield %>

</body>
</html>