

<h1>Sign UP</h1>

<form action='/people' method='post'>
	<input type='text' name='person_name' placeholder='...name'>
	<input type='text' name='person_email' placeholder='...email'>
	<input type='submit' >
</form>

